/*Fundo da Página*/
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }

/*Cabeçalho*/
header {
    background-color: #3e31a1;
    padding: 20px;
    text-align: center;
    margin: -20px;
  }

/*Rodapé*/
footer {
    background-color: #3e31a1;
    padding: 10px;
    text-align: center;
    margin: 50px,-20px,-20px,-20px;
    width: 100%;
  }
  
